#ShiftEditForm{
    border: 1px solid #F4EAEA;
    width: 1328px;
height: 289px;
margin-top: 34px;
margin-left: 38px;
padding: 20px 159px 0px 21px;
gap: 0px;

border: 1px 0px 0px 0px;
opacity: 0px;

}

.shiftEditSection{
    width: 1,108px;
height:67px;
margin-top: 20px;
margin-left: 21px;
gap: 44px;
opacity: 0px;

display: flex;
justify-content: space-between;

}
.shiftEditBlock{
    width: 340px;
height: 67px;
gap: 6px;
opacity: 0px;


}
.shiftEditName{
width: 76px;
height: 25px;
gap: 0px;
opacity: 0px;

}

#shiftEditDropdown{
    border: 1px solid red;
    width: 340px;
   height:67px;
gap: 6px;
opacity: 0px;
margin-top: 20px;
margin-left: 21px;

}

.Bottom{
    border: 1px solid transparent;
    width: 1550px;
  height: 63px;
  margin-top: 290px;
//   margin-left: 45px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 0px;
  opacity: 0px;
  
  }
  .Submitbtns{
    width:144px;
height:33px;
margin-top: 15px;
margin-left: 24px;
gap: 16px;
opacity: 0px;
cursor: pointer;
display: flex;

  }

  .Sbtn{
    width: 91px;
height: 33px;

gap: 10px;
border-radius: 8px ;
opacity: 0px;

color: white;
background-color: #400F6F;
cursor: pointer;

  }

  #crossBtn{
border: 1px solid #B3B3B3;
 width:24px;
height: 24px;
margin-top: 5px;
margin-left: 10Bottompx;
gap: 5.84px;
border-radius: 4.68px ;
border: 1px ;
opacity: 0px;

  }