@import "../../../styles/variables.scss";

.btnGroup{
    width: 184px;
    height: 34px;
 
}

#middleContainer{
    border: 1px solid red;
    height: 76px;
}

#middleContainer{
    display: flex;
    justify-content: space-between;
}
#left-Container{
    width:100%;
    display: flex;
    margin-left: 30px;
    gap: 15px;

    div{
        border: 1px solid red;
        width: 10%;
        height: 30px;
        padding: 5px;
        text-align: center;
        margin-top: 15px;
        border-radius: 10px;
    }
}

#Right-container{
    width: 100%;

}

// #table-Body{
//     width:100%;
 
//     // background-color: rgb(250, 246, 255);
    
// }
// #Table-Container{
    
//     width:100%;
//     text-align:left;
//     margin-top: 30px;
// }

// .table-Content{
//  padding: 8px;
//   border: 1px solid #F2F2F2
// }
// #table-Heading{

// }


table {
    border-radius: 10px !important;
    
    // overflow: hidden !important; /* Important for border-radius to work */
}

table {
    width: 97%;
    border-collapse: collapse;
    border-radius: 10px !important;
    th,
    Link {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #dddddd5d;
      border-left: 1px solid #dddddd5d;
      border: 1px solid #dddddd5d;
      // border: 2px solid red !important;
      
      font-weight: 500;
      .status-dropdown {
       
        width: fit-content;
        .status-container {
          position: relative;
          margin-bottom: 10px;
        }

        .status-display {
          //  border: 11px solid red !important;
        // z-index: 9;
            padding: 8px 12px;
          border-radius: 44px;
          display: flex;
          cursor: pointer;
          align-items: center;
          div {
            display: flex;
            gap: 5px;
          }
        
          &.filled {
            background-color: #0877e678;
            color: #0070f3 !important;
          }
          &.on-hold {
            background-color: #dce70731;
            color: #afac1d;
          }
          &.open {
            background-color: #0cad542f;
            color: #0cad55;
          }
          &.cancelled {
            background-color: #f0d4d4;
            color: #c70000;
          }
          &.draft {
            background-color: #fee7e7;
            color: #ff00c3;
          }

          .left_dot {
            width: 10px;
            margin-right: 5px;
            height: 10px;
            border-radius: 50%;
            // background: #000;
            &.filled {
              background-color:#0077ff;
            }
            &.on-hold{
              background-color: #afac1d;
            }
            &.open {
              background-color: #54d92b;
            }
            &.cancelled {
              background-color: #c70000;
            }
            &.draft {
              background-color: #ff00c3;
            }
          }
        }

        .status-options {
          position: absolute;
          min-width: 130px !important;
          padding: 2px;
          border-radius: 5px !important;
          top: 100%;
          left: 0;
          background: white;
          border: 1px solid #ccc;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          z-index: 10;

          .status-option {
            padding: 8px 12px;
            cursor: pointer;
            display: flex;
            border-radius: 5px;
            &:hover {
              background: #de4abc57;
            }
          }
        }
      }
    }

  .ShiftManagementLink{
    text-decoration:none;
    display: inline-block;
    margin-top:12px;
    margin-left:12px;
   
  }

    th {

      color: $primary-color;
      background-color: $lightprimary;
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          // margin-left: 10px;
          cursor: pointer;
          align-items: end;

          align-self: flex-end;
        }
      }
    }

    tr:hover {
      background-color: #e6d1d1b2;
    }

    select {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    input[type="checkbox"] {
      z-index: 0 !important;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid #000;
      cursor: pointer;
      position: relative;
      border-radius: 3px;
      border: 1px solid grey;
    }

    input[type="checkbox"]:not(:checked) {
      background-color: white;
     
    }

    input[type="checkbox"]:checked {
      background-color: $primary-color;
    }

    input[type="checkbox"]:checked::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 5px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }


  .status-dropdown {
    z-index: 1;
    width: fit-content;
    .status-container {
      position: relative;
      margin-bottom: 10px;
    }
    
    .status-display {
      padding: 8px 12px;
      border-radius: 44px;
      display: flex;
      cursor: pointer;
      align-items: center;
      div {
        display: flex;
        gap: 5px;
      }

      &.active {
        background-color: #d3e8fd ;
        color: #0070f3 ;
      }
      &.inactive {
        background-color: #dce70731;
        color: #afac1d;
      }
      &.resigned {
        background-color: #f8e6da;
        color: #e46d19;
      }
      &.terminated {
        background-color: #f0d4d4;
        color: #c70000;
      }
      &.notice-period {
        background-color: #fee7e7;
        color: #ff00c3;
      }

      .left_dot {
        width: 10px;
        margin-right: 5px;
        height: 10px;
        border-radius: 50%;
        // background: #000;
        &.active {
          background-color: #0070f3 ;
        }
        &.inactive {
          background-color: #afac1d;
        }
        &.resigned {
          background-color: #d9822b;
        }
        &.terminated {
          background-color: #c70000;
        }
        &.notice-period {
          background-color: #ff00c3;
        }
      }
    }

   
    .status-options {
      position: absolute !important;
      margin-top: 4px;
      width: 100%;
      top: 100%;
      color: #000 !important;
      left: 0;
      background: white !important;
      z-index: 99999 !important;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      .status-option {
        position: relative;
        
        padding: 8px 12px;
        cursor: pointer;
        display: flex;
        &:hover {
          background: #de4abc6d;
        }
      }
    }
  }


  //popup

  .Popup{
    width: 802px;
  height: 538px;
  top: 65px;
  left: 369px;
  gap: 0px;
  border-radius: 15px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
 
  background-color: white;
  }
  
  .PopupNav{
    width: 100%px;
  height: 79px;
  top: -1px;
  gap: 0px;
  opacity: 0px;
  background: #EBE7EE80;
border: 1px solid #EBE7EE80;
border-top-left-radius:10px ;
  
  }
  
  .PopupHeading{
    width: 155px;
  height: 24px;
  margin-top: 28px;
  margin-left: 30px;
  gap: 0px;
  opacity: 0px;
  font-weight: 500px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  
  
  }
  
  #MainContent{
    width: 728px;
  height: 328px;
  margin-top: 58px;
  margin-left: 30px;
  gap: 20px;
  opacity: 0px;
 
background-color: white;
  }
  
 
  .First-Section{
    width:728px;
  height:67px;
  gap: 48px;
  opacity: 0px;
 
  display: flex;
  background-color: white;
  }
  
  .First-SectionData{
    width: 340px;
  height: 67px;
  gap: 6px;
  opacity: 0px;
 
  background-color: white;
  
  }
  .First-SectionData>label{
    width: 84px;
height: 25px;
gap: 0px;
opacity: 0px;
background-color: white;

  }
  .First-SectionData>input{
    background-color: #F2F2F2;
    margin-top: 5px;
  }

  #FormSubmitBtn{
    width: 209px;
height: 42px;
top: 471px;
left: 297px;
padding: 10px 69px 10px 69px;
gap: 10px;
border-radius: 8px;
opacity: 0px;
background-color: #400F6F;
color: white;
margin-left: 300px;


  }

  #CloseBtnIcon:hover{
    border: 1px solid red;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    
  }
.AllShiftListInput{

}




.AllShiftListInput {
  width: 90%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #ffffff0b;
  border: 1px solid rgba(128, 128, 128, 0.291);
  border-radius: 3px;
  color: #1d0534;
  font-size: 14px;

  //
}
.AllShiftListInput:hover {
  outline: none;
  border: 1px solid $border-color;
  box-shadow: 0px 0px 0px 2px rgba(115, 15, 173, 0.307);
}

.AllShiftListInput:focus {
  outline: none;
  border: 1px solid #650f6f;
}

.PopupHeading>span{
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  
}
 


 
  